*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(65, 65, 65);
}
header{
    background-color: black;
    box-shadow: 0px 3px 10px #24252a;
    padding-bottom: 40px;
}

.nav-link{
    color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.loginbtn a{
    position: absolute;
    margin-left: 90%;
    margin-top: 3.5%;
    background-color: rgb(233, 198, 3);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(107, 92, 5);
    box-shadow: 0px 3px 2px #9093a1;
}

.loginbtn a:hover{
    padding: 13px;
    transition: 0.5s;
}

.img-logo{
    position: absolute;
    margin-top: 9%;
    margin-left: 45%;
    width: 100px;
    height: 100px;
}

.logo{
    display: flex;
    align-items: center;
}

.menu{
    padding-bottom: 40px;
    margin-top: 30px;
    display: none;
    width: 400px;
    height: auto;
    margin-left: -10px;
    position: absolute;
    background-color: black;
}

.hamburgerbtn,
.icon {
    margin-top: 20px;
    background-color: black;
    border: none;
    cursor: pointer;
}

.menu ul{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
}

.menu .nav-item{
     display: block;
     padding-top: 1.9rem;
}

.open{
    display: block;
}
.showmissao{
    color: #24252a;
    padding: 20px;
    width: 200px;
    margin-left: 350px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    display: none;
    position: absolute;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    
}
.showvisao{
    color: #24252a;
    padding: 20px;
    width: 200px;
    margin-left: 380px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    display: none;
    position: absolute;
    margin-bottom: 30px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}
.showvalores{
    color: #24252a;
    padding: 20px;
    width: 200px;
    margin-left: 380px;
    background-color: rgb(226, 226, 226);
    text-align: center;
    display: none;
    position: absolute;
    margin-bottom: 30px;
    margin-top: 60px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 2px rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
}


.video{
   position: absolute;
   width: 500px;
   height: auto;
   margin-left: 28.5%;
   border-radius: 5px;
   margin-top: 10px;
   box-shadow: 2px 2px 3px 2px rgb(150, 150, 150);
}

.btn{
    text-decoration: none;
    position: absolute;
    right: 5%;
    margin-top: 65px;
    padding: 20px;
    background-color: rgb(255, 217, 0);
    border-radius: 20px;
    color: rgb(99, 85, 8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 2px 2px 1px rgb(107, 101, 88);
    transform: translate(y);
    animation: float 5s ease-in-out infinite;
}

@keyframes float{
    0%{
        transform: translatey(0px);
    }
    50%{
        transform: translatey(-20px);
    }
    100%{
        transform: translateY(0px);
    }
}
.btn:hover{
    padding: 23px;
    transition: 0.3s;
}
.title{
    text-align: center;
    color: rgb(255, 217, 0);
    font-family: Arial, Helvetica, sans-serif;
}
.secAbout{
    margin-left: 50px;
    text-align: center;
    font-size: 20px;
    border-radius: 8px;
    width: 90%;
    height: auto;
    color: rgb(189, 189, 189);
    font-family: Arial, Helvetica, sans-serif ;
    
}
.bloco{
    width: 150px;
    height: 150px;
    color: rgb(97, 97, 97);
    text-align: center;
    background-color: rgb(230, 230, 230);
    padding: 60px;
    margin-top: 50px;
    margin-left: 90px;
    box-shadow: 1px 1px 5px 2px rgb(48, 48, 48);
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(61, 61, 61);
    font-size: 18px;
    border-radius: 5px;
}
.worker{
    margin-top: -30px;
    margin-bottom: 15px;
    width: 70px;
    height: auto;
}
.dois{
    margin-left: 460px;
    margin-top: -267px;
}
.dados{
    margin-top: -30px;
    width: 70px;
    height: auto;
}
.para{
    margin-top:15px;
}
.tres{
    margin-left: 830px;
    margin-top: -270px;
}
.social{
    margin-top: -30px;
    width: 70px;
    height: auto;
}
.quatro{
    margin-top: 40px;
    margin-left: 460px;

}
.doc{
    margin-top: -30px;
    width: 70px;
    height: auto;
}
.cinco{
    margin-top: -270px;
    margin-left: 830px;
}
.ambiente{
    margin-top: -30px;
    margin-bottom: 30px;
    width: 90px;
    height: auto;
}
.cad{
    font-size: 20px;
}
.seis{
    margin-top: -265px;
}
.markt{
    margin-top: -30px;
    margin-bottom: 30px;
    width: 90px;
    height: auto;
}
.ttdois{
    margin-top: 70px;
}
.sobreCeo{
    position: absolute;
    width: 100%;
    height: 700px;
    background-color:rgb(230, 230, 230);
    margin-top: 400px;
    box-shadow: 1px 1px 5px 2px rgb(48, 48, 48);
}

.dev{
    width: 400px;
    height: auto;
    position: absolute;
    color: gray;
    border-radius: 30px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 15px;
    margin-left: 30%;
}
.textoCeo{
    width: 800px;
    height:auto;
    margin-top:5%;
    margin-left: 3%;
    background-color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(56, 56, 56);
    border-radius: 5px;
    
}
.imgCeo .imgCeofoto{
    position: absolute;
    width: 260px;
    height: 380px;
    margin-left: 76%;
    margin-top: -630px;
    border-radius: 5px;
}
.bloco:hover{

    width: 160px;
    height: 160px;
    transition: 0.5s;

}
.endsection{
    width: 100%;
    height: 800px;
    background-color: black;
    position: absolute;
    margin-top: 960px;
}
.botao{
    opacity: 0;
}
.name{
    color: rgb(179, 152, 3);
    font-size: 20px;
}
.valor{
    position: absolute;
    width:450px ;
    height: 600px;
    background-color: rgb(255, 255, 255);
    margin-left: 26%;
    margin-top: 80px;
    border-radius: 10px;
    color: rgb(233, 198, 3);
}
.oferta{
    margin-top: 10px;
    margin-left: 5%;
    font-size: 35px;
    background-color: black;
    width: 300px;
    padding-left: 90px;
    padding-right: 20px;
    border-radius: 10px;
}
s{
    position: absolute;
    font-size: 20px;
    color: red;
    margin-left: 42% ;
    margin-top: 15px;
}
#value{
    color: white;
    background-color: rgb(99, 163, 3);
    margin-top: 50px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;  
    width: 300px;
    padding-right: 40px;
    margin-left: 25px;
    padding-left: 60px;
    border-radius: 10px;
}
#assinatura{
    font-size: 22px;
    color: rgb(99, 163, 3);
    margin-left: 30px;
    margin-top: 20px;
}
.compra{
    width: 100px;
    height: auto;
    margin-left: 168px;
    margin-top: 10px;
}
#segura{
    color: rgb(99, 163, 3);
    margin-left: 80px;
}
.pix{
    width: 60px;
    height: auto;
    margin-left: 140px;
    margin-top: 10px;
}
.cartao{
    width: 60px;
    height: auto;
    margin-left: 30px;
}
.pay{
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    margin-top: 120px;
    margin-left: -155px;
    color: rgb(99, 85, 8) ;
    background-color: rgb(255, 217, 0);
    padding: 20px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 1px 1px 1px gray;
}
.pay:hover{
    background-color: rgb(179, 152, 3);
    color: rgb(248, 235, 162);
    transition: 0.5s;
}
h3{
    color: black;
    margin-top: 140px;
    margin-left: 80px;
}
@media (max-width:450px){
    header {
        height: 60px;
        width: 100%;
    }
    .showmissao, .showvalores, .showvisao{
         margin-left: 70px;    
         margin-top: 200px;
    }
    .loginbtn h4{
        position: absolute;
        width: 30px;
        height:auto;
        margin-left: 260px;
        font-size: 16px;
        margin-top: 30px;
   }

    .hamburgerbtn{
        padding-top: 14px;
        margin-top: -10px;
    }
    .logo{
        position: absolute;
        margin-top: -30px;
        margin-left: -20px;
    }
    .img-logo{
        width: 70px;
        height: auto;
        left: -14%;
        top:30px;
        display: flex;
        
    }
    .menu-open{
        position: absolute;
    }

    .title{
        margin-top: 50px;
        margin-left: 2%;
    }

    .secAbout {
        margin-left: 20px;
        font-size: 17px;
        margin-top: 10px;
    }
    .um{
        margin-left: 60px;
    }
    .dois{
        margin-left: 60px;
        margin-top: 40px;
    }
    .tres{
        margin-left: 60px;
        margin-top: 50px;
    }
    .quatro{
        margin-left: 60px;
        margin-top: 50px;
    }
    .cinco{
        margin-left: 60px;
        margin-top: 60px;
    }
    .seis{
        margin-left: 60px;
        margin-top: 60px;
    } 
   .textoCeo{
    margin-top: 50px;
     height: 1800px;
     width: 100%;
     margin-left: -10px;
    }
   .imgCeo .imgCeofoto{
    margin-top: -480px;
    margin-left: 45px;
   }
   .sectiondois{
    margin-top: 100px;
   }
   .endsection{
    margin-top: 1720px;
   }
   .video{
    margin-left: 23px;
    margin-top: 40px;
    width: 350px;
    height: auto;
   }
   .aboutCeo{
    margin-left: -140px;
   }
   .botao{
    position: absolute;
    margin-top: 420px;
    margin-right: 108px;
    text-decoration: none;
    position: absolute;
    right: 5%;
    padding: 20px;
    background-color: rgb(255, 217, 0);
    border-radius: 20px;
    color: rgb(99, 85, 8);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 1px 2px 2px 1px rgb(107, 101, 88);
    transform: translate(y);
    animation: float 5s ease-in-out infinite;
    opacity: 1;
   }
   .botao:hover{
      padding: 23px;
      transition: 0.3s;
   }
   .btn{
    opacity: 0;
   }
   .logo{
    margin-top: -40px;
    margin-left: 70px;
    width: 250px;
    height: 220px;
   }
   .valor{
    position: absolute;
    margin-left: 1%;
    width: 380px;
    height: auto;
   }
   .oferta{
    margin-left: -10px;
   }
   #value{
    margin-left: -10px;
   }
   #assinatura{
    margin-left: 10px;
    font-size: 20px;
   }
   .compra{
    margin-left: 140px;
   }
   #segura{
     margin-left: 50px;
  }
  .pix{
    margin-left: 110px;
  }
  h3{
    margin-left: 50px;
  }
}
    